.first {
    background-color: cornsilk;
    
}
.second {
    border-style: outset;
     border-color: violet; 
     border-width: 3mm;
     background-color: rgb(240, 226, 235);
}
.fns {
background-color: white;
text-align: center;
font-size: large;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
    background-color: rgb(218, 218, 219);
    
}
h1 {
    font-family: cursive;
    font-weight: bold;
}
p {
    font-family: cursive;
}
.arka {
    background-color: rgb(196, 211, 212);
}